/*FONT FAMILY*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
/*GLOBAL*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: var(--color_1);
    font-family: 'Quicksand', sans-serif;
}
ul, ol{
    list-style: none;
}
a{
    color: unset;
    text-decoration: none;
}
/*COLORS*/
:root{
    --color_1:#F2E7DC;
    --color_2:#F2E2CE;
    --color_3:#D9BEA7;
    --color_4:#F2C094;
    --color_5:#595048;
    --color_6:#030504;
    --color_7:#A6896F;
}
/*FOOTER*/
footer{
    background: var(--color_2);
}
.container_nav_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 64px;
}
.creator{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color_6);
    color: var(--color_1);
    font-family: 'Raleway', sans-serif;
}
/*BURGER MENU CONTACTS*/
/*.icon_contacts{
    align-items: center;
    display: none;
    cursor: pointer;
    font-size: 24px;
    height: 100%;
    width: 24px;
}
#check_contacts{
    display: none;
}
#label_contacts{
    display: none;
    height: 100%;    
    width: 26px;
}*/

/*MEDIA QUERY*/
@media (max-width: 720px) {
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .creator{
        width: 100%;
    }
    .container_nav_footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap ;
        
    }

    /* #label_contacts{
        display: block;
    }
     .icon_contacts{
        display: flex;
        padding: 32px 0px;
    }
    #check_contacs:checked ~ nav > ul {
        height: 150px;
        opacity: 1;
        visibility: visible;
    }
    .container_nav_footer > #check_contacs {
        opacity: 1;
        visibility: visible;
    }
    nav > ul > li > a:hover{
        transform: scale(1);
    }
    nav ul li ul{
        left: 72px;
    }
    nav > ul > li:hover > ul{
        top: 72px;
    }
    #label_check{
        display: block;
    }*/
}