/*FONT FAMILY*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
/*GLOBAL*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: var(--color_1);
    font-family: 'Quicksand', sans-serif;
}
ul, ol{
    list-style: none;
}
a{
    color: unset;
    text-decoration: none;
}
/*COLORS*/
:root{
    --color_1:#F2E7DC;
    --color_2:#F2E2CE;
    --color_3:#D9BEA7;
    --color_4:#F2C094;
    --color_5:#595048;
}
/*HEADER*/
header{
    left: 0;
    top: 0;
    width: 100%;
}
/*LOGO*/
.container_header_up{
    align-items: center;
    background: var(--color_2);
    display: flex;
    font-size: 36px;
    justify-content: space-between;
    margin: 16px 0px;
    padding: 24px;
}
.container_header_up h1{
    font-family: 'Raleway', sans-serif;
}
.logo{
    border-radius: 64px;
    width: 96px;
}

/*MENU*/
.container_header{
    background: var(--color_2);
    height: 64px;
    padding: 0px 16px;
    width: 100%;
}
.menu{
   height: 100%;
}
nav{
    height: 100%;
}
nav > ul{
    display: flex;
    height: 100%;
}
nav > ul > li{
    height: 100%;
    position: relative;
}
nav > ul > li > a{
    align-items: center;
    display: flex;
    height: 100%;
    padding: 32px;
    transition: all 320ms ease;
    width: 100%;
}
nav > ul > li > a:hover{
    background: var(--color_4);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    transform: scale(1.1);
}
/*SUBMENU*/
nav ul li ul{
    background: var(--color_3);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    left: -8px;
    opacity: 0;
    padding: 16px 0px;
    position: absolute;
    transition: all 320ms ease;
    top: 88px;
    visibility: hidden;
    width: 200px;
    z-index: 999;
}
nav ul li:hover ul{
    opacity: 1;
    top: 72px;
    visibility: visible;
}
nav ul li ul li a{
    display: block;
    margin-top: 10px;
    padding: 8px;
    padding-left: 14px;
    transition: all 320ms ease;
}
nav ul li ul li a:hover{
    background: var(--color_4);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    padding-left: 36px;
    transform: scale(1.1);
}
nav ul li ul::before{
    border-bottom: 16px solid var(--color_3);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    content: '';
    height: 0;
    left: 24px;
    position: absolute;
    top: -16px;
    width: 0;
}
/*BURGER MENU*/
.icon_burger{
    align-items: center;
    display: none;
    cursor: pointer;
    font-size: 24px;
    height: 100%;
    width: 24px;
}
#check_menu{
    display: none;
}
#label_check{
    display: none;
    height: 100%;    
    width: 26px;
}


/*MEDIA QUERY*/
@media (max-width: 720px) {
    header{
        z-index: 999;
    }
    .submenu{
        z-index: 99;
    }  
    .logo{
        border-radius: 64px;
        width: 96px;
    }
    .container_header_up{
        padding: 0px 36px;
    }
    .container_header > .menu > nav > ul{
        background-color: var(--color_4);
        flex-direction: column;
        left: 0;
        height: 0px;
        opacity: 0;
        padding: 0px 16px;
        transition: all 320ms ease;
        top: 240px;
        visibility: hidden;
        width: 100%;
        z-index: 9999;
    }
    .container_header > .menu > nav > ul > li > a:hover{
        transform: scale(1);
    }
    .container_header > .menu > nav ul li ul{
        left: 72px;
    }
    .container_header > .menu > nav > ul > li:hover > ul{
        top: 72px;
    }
    .container_header > .menu > #label_check{
        display: block;
    }
    .container_header > .menu > .icon_burger{
        display: flex;
        padding: 0px 16px;
    }
    .container_header > .menu > #check_menu:checked ~ nav > ul {
        height: 300px;
        opacity: 1;
        visibility: visible;
    }
}
@media (max-width: 640px) { 
    .logo{
        border-radius: 64px;
        width: 96px;
    }
    header{
        z-index: 999;
    }  
    .container_header_up{
        padding: 0px 24px;
    }
    .container_header_up h1{
        font-size: 36px;
    }
    .container_header > nav > ul{
        background-color: var(--color_3);
        flex-direction: column;
        left: 0;
        height: 0px;
        opacity: 0;
        padding: 0px 16px;
        transition: all 320ms ease;
        top: 196px;
        visibility: hidden;
        width: 100%;
        z-index: 100;
    }
    .container_header > nav > ul > li > a:hover{
        transform: scale(1);
    }
    .container_header > nav ul li ul{
        left: 72px;
    }
    .container_header > nav > ul > li:hover > ul{
        top: 72px;
    }
    #label_check{
        display: block;
    }
    .icon_burger{
        display: flex;
        padding: 0px 16px;
    }
    .container_header > #check_menu:checked ~ nav > ul {
        height: 300px;
        opacity: 1;
        visibility: visible;
    }
}
