/*ARTICULOS*/
/*main{
    background: #f0f0f0;
    padding: 40px 20px;
    margin-top: 194px;
}
article{
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    background: #fff;
}
article p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300px;
}*/