/*FONT FAMILY*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
/*GLOBAL*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: var(--color_1);
    font-family: 'Quicksand', sans-serif;
}
ul, ol{
    list-style: none;
}
a{
    color: unset;
    text-decoration: none;
}
/*COLORS*/
:root{
    --color_1:#F2E7DC;
    --color_2:#F2E2CE;
    --color_3:#D9BEA7;
    --color_4:#F2C094;
    --color_5:#595048;
    --color_6:#030504;
    --color_7:#A6896F;
}
/*MAIN*/
/*HOME*/
.home{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    padding: 24px;
    width: 100%;
}
.myselfpresentation{
    color: var(--color_5);
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: center;
    padding: 16px;
    text-align: center;
    width: 350px;
}
.myname{
    color: var(--color_6);
    background: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-align: center;
    transition: .5s, .10s ;
}
.myname:hover{
    border-radius: 200px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.5);
    transform: scale3d(1,1,0.2);
}
.myserlfimg img{
    border-radius: 250px;
    width: 360px;
}
/*KNOWLEDGES*/
.knowledge > div > article > img{
    width: 15vh;
}
.knowledge > h2+h3{
    padding: 0px 64px;
}
.knowledge{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background: var(--color_5);
    color: var(--color_1);
}
.containerArticles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 64px;
    gap: 64px;
}
.knowledge > div > article > p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.knowledge > div > article{
    transition: .5s, .10s ;
}
.knowledge > div > article:hover{
    border-radius: 10px;
    background: var(--color_1);
    color: var(--color_6);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    transform: scale(1.1);
}
/*PROJECTS*/
.projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 64px;
}
.projects > div > article > img{
    width: 200px;
}
.projects > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 64px;
    gap: 80px;
    justify-content: space-evenly;
}
.container_articles > article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 200px;
    transition: all 320ms ease;
}
.container_articles > article:hover{
    background: var(--color_4);
    border-radius: 30px;
    transform: scale(1.1);
}
.projects > div > article > p{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
.projects > div > article > p:hover{
    color: var(--color_1);
    text-decoration: underline;
}
/*MEDIA QUERY*/
@media (max-width: 720px) {  
    .home{
        display: flex;
        flex-direction: column;
    }
    .knowledge{
        display: flex;
        flex-direction: column;
    }
    .projects{
        display: flex;
        flex-direction: column;
    }
}